p{
    color:rgb(255, 255, 255);
    font-size: 30px;
    
}
.custom-image {
    width: 500px;
    height: 600;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 40px;
    
    
    
  }
  body{
    background-image: url(midea/1359457.jpeg);
    background-repeat: ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
  }
  a{
    color: #00ffdd;
  }
  h1{
    color:white;
  }

  h3{
    font-size: 30px;
    color: rgb(255, 251, 0);
  }